[submodule "bundle/vim-hy"]
	path = bundle/vim-hy
	url = git://github.com/hylang/vim-hy
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode
[submodule "bundle/coq.vim"]
	path = bundle/coq.vim
	url = git://github.com/jvoorhis/coq.vim
[submodule "bundle/idris-vim"]
	path = bundle/idris-vim
	url = git://github.com/idris-hackers/idris-vim
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = git://github.com/michaeljsmith/vim-indent-object
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "bundle/julia-vim"]
	path = bundle/julia-vim
	url = https://github.com/JuliaLang/julia-vim
[submodule "bundle/vim-soy"]
	path = bundle/vim-soy
	url = https://github.com/vim-scripts/vim-soy
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "bundle/elm.vim"]
	path = bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim
