[submodule "bundle/vim-hy"]
	path = bundle/vim-hy
	url = git://github.com/hylang/vim-hy
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode
[submodule "bundle/coq.vim"]
	path = bundle/coq.vim
	url = git://github.com/jvoorhis/coq.vim
[submodule "bundle/idris-vim"]
	path = bundle/idris-vim
	url = git://github.com/idris-hackers/idris-vim
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = git://github.com/michaeljsmith/vim-indent-object
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "bundle/julia-vim"]
	path = bundle/julia-vim
	url = https://github.com/JuliaLang/julia-vim
[submodule "bundle/vim-soy"]
	path = bundle/vim-soy
	url = https://github.com/vim-scripts/vim-soy
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "bundle/elm.vim"]
	path = bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/rust-lang/rust.vim
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir
[submodule "bundle/vim-capnp"]
	path = bundle/vim-capnp
	url = https://github.com/peter-edge/vim-capnp
[submodule "bundle/pony-vim-syntax"]
	path = bundle/pony-vim-syntax
	url = https://github.com/dleonard0/pony-vim-syntax
[submodule "bundle/vim-nix"]
	path = bundle/vim-nix
	url = https://github.com/LnL7/vim-nix
[submodule "bundle/vim-stylish-haskell"]
	path = bundle/vim-stylish-haskell
	url = https://github.com/nbouscal/vim-stylish-haskell
[submodule "bundle/zig"]
	path = bundle/zig
	url = https://github.com/zig-lang/zig.vim
[submodule "plugged/elm-vim"]
	path = plugged/elm-vim
	url = https://github.com/elmcast/elm-vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "plugged/vim-reason-plus"]
	path = plugged/vim-reason-plus
	url = https://github.com/reasonml-editor/vim-reason-plus
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/purescript-vim"]
	path = bundle/purescript-vim
	url = https://github.com/purescript-contrib/purescript-vim
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "bundle/vim-tsx"]
	path = bundle/vim-tsx
	url = https://github.com/ianks/vim-tsx
[submodule "bundle/ocp-indent-vim"]
	path = bundle/ocp-indent-vim
	url = https://github.com/let-def/ocp-indent-vim
